---
import { getCollection } from "astro:content";
//component import
import MainLayout from "./MainLayout.astro";
import PostHeader from "../components/PostHeader.astro";
import CategoryCloud from "../components/CategoryCloud.astro";

//utils imports
import { formatBlogPosts, slugify } from '../js/utils';
import RelatedPosts from "../components/RelatedPosts.astro";

const {data} = Astro.props;
const {title,description,date,category,author,cover} = data;

const allPosts = await getCollection("blog");
const formattedPosts = formatBlogPosts(allPosts,{
    sortByDate:false,
});
const relatedPosts = formattedPosts.filter((post)=> 
    post.data.category.toLowerCase() === category.toLowerCase() &&
    post.data.title !== title).slice(0,3);

//console.log("Related Posts",relatedPosts);

//console.log(data)
---

<MainLayout {title} {description} image={data.image} {data} robots={data.robots}>
    
    <div class="post-content">
        <PostHeader {category} {title} {author} {date} {cover}/>
        <div class="content">
            <slot/>
        </div>
        
    </div>
    <div class="sidebar">
        <aside class="container" aria-label="Blog Categories">
            <h2 class="h3">Blog Categories</h2>
            <CategoryCloud showCount={true}/>
        </aside>
        {
        relatedPosts.length > 0 && (
            <aside class="container" aria-label="Related posts">
                <h2 class="h3">Related Posts</h2>
                <RelatedPosts relatedPosts={relatedPosts}/>
            </aside>
        )
        }
    </div>
</MainLayout>
